
.w3-cell{
    padding: 10px;
    margin-top:10px;
}
button{
    margin:5px;
}

.myColors {
    background-color: rgb(16, 24, 99);
}

.details{
    border-style:solid;
    border-width: 15px;
    border-color:black;
}
